/***** BASE STYLES *****/
body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

h1, h3, h4 {
  color: black;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
  text-align: left;
  float: left;
  width: auto;
  padding: 15px 0;
}

h3 {
  font-size: 18px;
  text-align: center;
  padding: 15px;
}

h4 {
  font-size: 12px
}

.main-title h3 {
  text-align: left;
  padding: 5px 0px;
  color: #77a466;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  padding: 0px 30px;
  line-height: 21px;
}

header {
  width: 100%;
  height: 110px;
  border-bottom: 3px solid #77a466;
  margin: 0 auto;
}

header span {
  color: #77a466;
}

header nav {
  float: right;
  padding: 45px 0px;
}

header nav a {
  font-size: 14px;
  font-weight: bold;
  color: #77a466;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
}

.top-section, .bottom-section {
  width: 100%;
  margin: 0 auto;
  clear: both;
}

.main-image {
  width: 100%;
  height: auto;
  float: left;
}

.main-image img {
  width: 100%;
  border-bottom: 3px solid #77a466;
}

.main-title {
  width: 100%;
  height: auto;
  float: left;
}

.main-title p {
  padding: 0px;
  line-height: 25px;
  font-size: 16px;
}

.section-one, .section-two, .section-three {
  width: 33%;
  height: auto;
  float: left;
  border-top: 1px solid #eee;
}

.section-one, .section-two {
  border-right: 1px solid #eee;
}

.section-one h4 {
  padding: 10px 0px;
}

.section-two h4, .section-three h4 {
  padding: 10px 30px;
}

.menu {
  list-style: none;
  padding: 0px;
}

.menu li {
  color: #77a466;
  padding: 10px 0;
}

.reviews {
  font-size: 16px;
  color: #333;
  line-height: 21px;
}

.address {
  font-size: 16px;
  line-height: 24px;
}

footer {
  width: 100%;
  height: 50px;
  border-top: 3px solid #eee;
  margin: 0 auto;
  clear: both;
  text-align: center;
}

footer span {
  font-family: script;
  font-size: 14px;
  color: #77a466;
  text-transform: lowercase;
}
